@model OrderPayment
@{
}



<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PaymentDate"></label>
        <input asp-for="PaymentDate" class="form-control" />
        <span asp-validation-for="PaymentDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OrderId"></label>
        <input asp-for="OrderId" class="form-control" />
        <span asp-validation-for="OrderId" class="text-danger"></span>
        <div class="text-danger">@Html.ValidationSummary(false)</div>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>